<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<!--PASSENGER EARNING FORM  -->
	<div  id="PNSUB-DIV" th:fragment = "PNSUB-DIV(headerId)" th:object="${earningHeader}">
			
		<div th:if="${seg_msg}"
		     id="flash-message"
		     th:text="${seg_msg}"
		     th:class="'flash-msg ' + (${seg_msgType} == 'success' ? 'flash-success' : 'flash-error')">
		</div>
		
		<fieldset name="pnsub-fieldset" id="pnsub-fieldset"
			style="padding: 0px; margin: 0px; border: none;" disabled="disabled">
			<!-- <form id="pnsub-bottom-form" > -->
			<table id="tbl-data" class="tableDesign">
				<thead id="tbl-data-head">
					<tr>
						<th rowspan="2">Class</th>
						<th colspan="2">Booked</th>
						<th colspan="2">Refund</th>
						<th colspan="2">Excess Fare</th>
						<th colspan="2">Total</th>
						<!-- <th>DFC</th> -->
					</tr>
					<tr>
						<th>No.</th>
						<th>Rs</th>
						<th>No.</th>
						<th>Rs</th>
						<th>No.</th>
						<th>Rs</th>
						<th>No.</th>
						<th>Rs</th>
						<!-- <th>Rs</th> -->
					</tr>
				</thead>

				<tbody id="tbl-data-body">
				
					<tr>
						<td hidden="true" colspan="9">
							<input id="txt_rfy" type="text" hidden="true" th:value="*{receivedfy}">
							<input id="txt_rmonth" type="text" hidden="true" th:value="*{receivedmonth}">
							<input id="txt_rperiod" type="text" hidden="true" th:value="*{receivedperiod}">
							<input id="txt_rremarks" type="text" hidden="true" th:value="*{remarks}">
						</td>
					</tr>
					
					<tr th:each="class, rowStat: ${classes}">
						<td th:text="${class.label}"
							th:classappend="${!class.saveable?'tot-design':'' }">
						</td>
						<!-- <td class="expand" th:each="i : ${#numbers.sequence(1, 9)}">
						        					<input type="text" th:value="'input_' + ${class.key} +'_' + ${i}">
						            				<input type="text" th:name="'input_' + ${class.key} +'_' + ${i}" placeholder="" class="bot-cell-input" 
						            				 pattern="-?\d*(\.\d+)?" title="Only numbers allowed." onblur="captureFormValue(this)" oninput="this.value = this.value.replace(/[^0-9.\-]/g, '')
						            				 .replace(/(?!^)-/g, '') 
						            				 .replace(/(\..*)\./g, '$1')
						            				 .replace(/^(-?\d+(\.\d{0,2})?).*/, '$1') " th:readonly="${i>6 || class.key == 'AC' || class.key == 'FC' || class.key == 'SLC' || class.key == 'SC' || class.key == 'TOT'}"/>   		            				  
						        				</td> -->


						<!-- ✅ HIDDEN RECORD ID -->
						<td hidden="true"><input type="text" hidden="true" 
							th:field="*{details[__${rowStat.index}__].recordid}" th:readonly="true"> </td>
							
						<!-- ✅ HIDDEN CLASS CODE -->
						<td hidden="true"><input type="text" hidden="true" 
							th:field="*{details[__${rowStat.index}__].classcode}" th:readonly="true"></td>
							
						<!-- ✅ BOOKED -->
						<td><input class="bot-cell-input calc" type="text"
							th:data-class="${class.code}"
							data-field = "bookedcount"
							th:name="|details[__${rowStat.index}__].bookedcount|"
       						th:value="*{details[__${rowStat.index}__].bookedcount == 0 ? '' : details[__${rowStat.index}__].bookedcount}"
       						oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/^0+/, '')"
							title="Only numbers allowed." th:readonly="${!class.saveable}" th:disabled="${!class.saveable}" onblur="recalcAll()"></td>

						<td><input class="bot-cell-input calc" type="text"
							th:data-class="${class.code}"
							data-field = "bookedamt"
							th:name="|details[__${rowStat.index}__].bookedamt|"
							th:value="*{details[__${rowStat.index}__].bookedamt == 0.0 ? '' : details[__${rowStat.index}__].bookedamt}"  	
							oninput="this.value = this.value.replace(/[^0-9.\-]/g, '').replace(/(?!^)-/g, '').replace(/(\..*)\./g, '$1').replace(/^(-?\d+(\.\d{0,2})?).*/, '$1') "						
							th:readonly="${!class.saveable}" th:disabled="${!class.saveable}" onblur="recalcAll()"></td>

						<!-- ✅ REFUND -->
						<td><input class="bot-cell-input calc" type="text"		
							th:data-class="${class.code}"					
							data-field = "refundcount"
							th:name="|details[__${rowStat.index}__].refundcount|"
       						th:value="*{details[__${rowStat.index}__].refundcount == 0 ? '' : details[__${rowStat.index}__].refundcount}"
       						oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/^0+/, '')"
							th:readonly="${!class.saveable}" th:disabled="${!class.saveable}" onblur="recalcAll()"></td>

						<td><input class="bot-cell-input calc" type="text"
							th:data-class="${class.code}"
							data-field = "refundamt"
							th:name="|details[__${rowStat.index}__].refundamt|"
							th:value="*{details[__${rowStat.index}__].refundamt == 0.0 ? '': details[__${rowStat.index}__].refundamt} " 
							oninput="this.value = this.value.replace(/[^0-9.\-]/g, '').replace(/(?!^)-/g, '').replace(/(\..*)\./g, '$1').replace(/^(-?\d+(\.\d{0,2})?).*/, '$1') "
							th:readonly="${!class.saveable}" th:disabled="${!class.saveable}" onblur="recalcAll()"></td>

						<!-- ✅ EXCESS -->
						<td><input class="bot-cell-input calc" type="text"
							th:data-class="${class.code}"
							data-field = "excesscount"
							th:name="|details[__${rowStat.index}__].excesscount|"
       						th:value="*{details[__${rowStat.index}__].excesscount == 0 ? '' : details[__${rowStat.index}__].excesscount}"
       						oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/^0+/, '')"
							th:readonly="${!class.saveable}" th:disabled="${!class.saveable}" onblur="recalcAll()"></td>

						<td><input class="bot-cell-input calc" type="text"
							th:data-class="${class.code}"
							data-field = "excessamt"
							th:name="|details[__${rowStat.index}__].excessamt|"
							th:value="*{details[__${rowStat.index}__].excessamt  == 0.0 ? '' : details[__${rowStat.index}__].excessamt}" 
							oninput="this.value = this.value.replace(/[^0-9.\-]/g, '').replace(/(?!^)-/g, '').replace(/(\..*)\./g, '$1').replace(/^(-?\d+(\.\d{0,2})?).*/, '$1') "
							th:readonly="${!class.saveable}" th:disabled="${!class.saveable}" onblur="recalcAll()"></td>

						<!-- ✅ TOTAL -->
						<td><input class="bot-cell-input" type="text"							 														
							th:data-class="${class.code}"
                   			data-field="totalno"
       						th:value="*{details[__${rowStat.index}__].totalno == 0 ? '' : details[__${rowStat.index}__].totalno}"
							readonly="readonly" disabled="disabled"></td>

						<td><input class="bot-cell-input" type="text"
							 
							th:data-class="${class.code}"
                   			data-field="totalrs"
							th:value="*{details[__${rowStat.index}__].totalrs == 0 ? '' : details[__${rowStat.index}__].totalrs}"
							readonly="readonly" disabled="disabled"></td>

						<!-- ✅ DFC -->
						<!-- <td><input class="bot-cell-input" type="text"
							th:data-class="${class.code}"
                   			data-field="dfcrs"
							value="" readonly="readonly" disabled="disabled"></td> -->
					</tr>
				</tbody>
			</table>
			<!-- </form> -->
			<div style="display: flex; justify-content: center; margin-top: 20px;">
				<!-- <button type="button" onclick="submitClicked()">Submit</button> -->
								
				<!-- <button th:disabled="*{parentrecordid != null} or ${iii_period_headerid != null}" class="action-btn-design" type="submit" name="action"  value="save">Submit</button> -->
				<button th:disabled="${submitbtn == 0}" class="action-btn-design" type="button" onclick="submitClicked()">Submit</button>
								
				<button class="action-btn-design" type="button" onclick="clearClicked()">Clear</button>

				<button class="action-btn-design" id="btn_approx_to_org" type="button"
					th:disabled="${togglebtn == 0}" onclick="toggleValueType()"
					th:text="*{valuetype == 'A'?'Approximate to Original':'Original to Approximate'}">
				</button>

				<button class="action-btn-design" id="btn_get_approx_data" type="button"
					th:disabled="${aprxbtn == 0}" onclick="getApproximateData()">Get
					Approximate Data</button>

				<button class="action-btn-design" id="btn_delete" type="button"
					th:disabled="${deletebtn == 0}" onclick="deleteData()">Delete
				</button>

			</div>
			
			<div th:if="${monthlyHeaderId != null} or ${iii_period_parentrecordid == null}"> 
				
				<p th:if="*{period != 'MON'} AND ${monthlyHeaderId != null}  " style="color: red; margin: 0px; padding: 0px;">Note: As Monthly data is already entered. So it is not allowed to feed period data. </p>
				<p th:if="*{period == 'MON'} AND (${iii_period_headerid != null} AND ${iii_period_parentrecordid == null})" style="color: red; margin: 0px; padding: 0px;">Note: As III period data is already entered. So it is not allowed to feed Monthly data. </p>

			</div>

		</fieldset>
		
		<script th:inline="javascript">
			(function () {
			    let headerId = /*[[${headerId}]]*/ null;
			    
			    const el = document.querySelector("input[name='recordid']");
		        if (el){
		        	console.log("Element found");
		        	el.value = headerId;
		        }
		        else{
		        	console.log("Element not found");
		        }			    
			    
			    console.log("headerId test = " +headerId);
			})();
		</script>
    
	</div>



	<!--ORIGINATING GOODS EARNING FORM  -->
	<div id="ORGG-DIV" th:fragment = "ORGG-DIV(headerId)" th:object="${earningHeader}">

		<div th:if="${seg_msg}" id="flash-message" th:text="${seg_msg}"
			th:class="'flash-msg ' + (${seg_msgType} == 'success' ? 'flash-success' : 'flash-error')">
		</div>


		<fieldset name="orgg-fieldset" id="orgg-fieldset"
			style="padding: 0px; margin: 0px; border: none;" disabled="disabled">
			

				<table id="tbl-data" class="tableDesign">
					<thead id="tbl-data-head">
						<tr>
							<th>Item</th>
							<th>Previous Month Wagon</th>
							<th>Previous Month Tonne</th>
							<th>Tonne Per Wagon</th>
							<th>Wagon</th>
							<th>Tonne</th>
							<th>Rate</th>
							<th>Amount in (Rs.)</th>
						</tr>
					</thead>

					<tbody id="tbl-data-body">
						
						<tr>
							<td hidden="true" colspan="8">
								<input id="txt_rfy" type="text" hidden="true" th:value="*{receivedfy}">
								<input id="txt_rmonth" type="text" hidden="true" th:value="*{receivedmonth}">
								<input id="txt_rperiod" type="text" hidden="true" th:value="*{receivedperiod}">
								<input id="txt_rremarks" type="text" hidden="true" th:value="*{remarks}">
							</td>
						</tr>
					
						<tr th:each="class, rowStat: ${classes}">
							<td th:text="${class.label}"
								th:classappend="${!class.saveable?'tot-design':'' }"></td>
								
								<!-- ✅ HIDDEN RECORD ID -->
							<td hidden="true"><input type="text" hidden="true" 
								th:field="*{details[__${rowStat.index}__].recordid}" th:readonly="true"> </td>
								
							<!-- ✅ HIDDEN CLASS CODE -->
							<td hidden="true"><input type="text" hidden="true" 
								th:field="*{details[__${rowStat.index}__].classcode}" th:readonly="true"></td>
								
							<!-- ✅ PREVIOUS MONTH WAGON -->
							<td><input class="bot-cell-input calc" type="text"
								th:data-class="${class.code}"
								data-field = "pmwagon"
								th:name="|details[__${rowStat.index}__].pmwagon|"
	       						th:value="*{details[__${rowStat.index}__].pmwagon == 0 ? '' : details[__${rowStat.index}__].pmwagon}"
	       						oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/^0+/, '')"
								title="Only numbers allowed." th:readonly="${!class.saveable}" th:disabled="${!class.saveable}" onblur="recalcAll()"></td>
									
							<!-- ✅ PREVIOUS MONTH TONNE -->
							<td><input class="bot-cell-input calc" type="text"
								th:data-class="${class.code}"
								data-field = "pmtonne"
								th:name="|details[__${rowStat.index}__].pmtonne|"
	       						th:value="*{details[__${rowStat.index}__].pmtonne == 0 ? '' : details[__${rowStat.index}__].pmtonne}"
	       						oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/^0+/, '')"
								title="Only numbers allowed." th:readonly="${!class.saveable}" th:disabled="${!class.saveable}" onblur="recalcAll()"></td>
								
							<!-- ✅ TONNE PER WAGON -->
							<td><input class="bot-cell-input calc" type="text"
								th:data-class="${class.code}"
								data-field = "tpwagon"
								th:name="|details[__${rowStat.index}__].tpwagon|"
	       						th:value="*{details[__${rowStat.index}__].tpwagon == 0 ? '' : details[__${rowStat.index}__].tpwagon}"
	       						oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/^0+/, '')"
								title="Only numbers allowed." th:readonly="${!class.saveable}" th:disabled="${!class.saveable}" onblur="recalcAll()"></td>
								
							<!-- ✅ WAGON -->
							<td><input class="bot-cell-input calc" type="text"
								th:data-class="${class.code}"
								data-field = "wagon"
								th:name="|details[__${rowStat.index}__].wagon|"
	       						th:value="*{details[__${rowStat.index}__].wagon == 0 ? '' : details[__${rowStat.index}__].wagon}"
	       						oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/^0+/, '')"
								title="Only numbers allowed." th:readonly="${!class.saveable}" th:disabled="${!class.saveable}" onblur="recalcAll()"></td>
								

							<!-- ✅ TONNE -->
							<td><input class="bot-cell-input calc" type="text"
								th:data-class="${class.code}"
								data-field = "tonne"
								th:name="|details[__${rowStat.index}__].tonne|"
	       						th:value="*{details[__${rowStat.index}__].tonne == 0 ? '' : details[__${rowStat.index}__].tonne}"
	       						oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/^0+/, '')"
								title="Only numbers allowed." th:readonly="${!class.saveable}" th:disabled="${!class.saveable}" onblur="recalcAll()"></td>
																			
							<!-- ✅ TONNE -->
							<td><input class="bot-cell-input calc" type="text"
								th:data-class="${class.code}"
								data-field = "rate"
								th:name="|details[__${rowStat.index}__].rate|"
	       						th:value="*{details[__${rowStat.index}__].rate == 0 ? '' : details[__${rowStat.index}__].rate}"
	       						oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/^0+/, '')"
								title="Only numbers allowed." th:readonly="${!class.saveable}" th:disabled="${!class.saveable}" onblur="recalcAll()"></td>
								
							<!-- ✅ TONNE -->
							<td><input class="bot-cell-input calc" type="text"
								th:data-class="${class.code}"
								data-field = "amount"
								th:name="|details[__${rowStat.index}__].amount|"
	       						th:value="*{details[__${rowStat.index}__].amount == 0 ? '' : details[__${rowStat.index}__].amount}"
	       						oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/^0+/, '')"
								title="Only numbers allowed." th:readonly="${!class.saveable}" th:disabled="${!class.saveable}" onblur="recalcAll()"></td>
						</tr>
					</tbody>
				</table>
				
				<div
				style="display: flex; justify-content: center; margin-top: 20px;">
				<!-- <button type="button" onclick="submitClicked()">Submit</button> -->
				<button th:disabled="${submitbtn == 0}" class="action-btn-design" type="button" onclick="submitClicked()">Submit</button>

					<button class="action-btn-design" type="button" onclick="clearClicked()">Clear</button>

					<button class="action-btn-design" id="btn_approx_to_org" type="button"
						th:disabled="${togglebtn == 0}" onclick="toggleValueType()"
						th:text="*{valuetype == 'A'?'Approximate to Original':'Original to Approximate'}">
					</button>

					<button class="action-btn-design" id="btn_get_approx_data" type="button"
						th:disabled="${aprxbtn == 0}" onclick="getApproximateData()">Get
						Approximate Data</button>

					<button class="action-btn-design" id="btn_delete" type="button"
						th:disabled="${deletebtn == 0}" onclick="deleteData()">Delete
					</button>
				
			</div>
			
			<div th:if="${monthlyHeaderId != null} or ${iii_period_parentrecordid == null}"> 
				
				<p th:if="*{period != 'MON'} AND ${monthlyHeaderId != null}  " style="color: red; margin: 0px; padding: 0px;">Note: As Monthly data is already entered. So it is not allowed to feed period data. </p>
				<p th:if="*{period == 'MON'} AND (${iii_period_headerid != null} AND ${iii_period_parentrecordid == null})" style="color: red; margin: 0px; padding: 0px;">Note: As III period data is already entered. So it is not allowed to feed Monthly data. </p>

			</div>
				
		</fieldset>
				<script th:inline="javascript">
			(function () {
			    let headerId = /*[[${headerId}]]*/ null;
			    
			    const el = document.querySelector("input[name='recordid']");
		        if (el){
		        	console.log("Element found");
		        	el.value = headerId;
		        }
		        else{
		        	console.log("Element not found");
		        }			    
			    
			    console.log("headerId test = " +headerId);
			})();
		</script>
		
		
	</div>


	<!--OTHER GOODS EARNING FORM  -->
	<div id="OTHG-DIV" th:fragment = "OTHG-DIV(headerId)" th:object="${earningHeader}">
	
	
		<div th:if="${seg_msg}" id="flash-message" th:text="${seg_msg}"
			th:class="'flash-msg ' + (${seg_msgType} == 'success' ? 'flash-success' : 'flash-error')">
		</div>
		
		<fieldset name="othg-fieldset" id="othg-fieldset"
			style="padding: 0px; margin: 0px; border: none;">
				<table id="tbl-data" class="tableDesign">
					<thead id="tbl-data-head">
						<tr>
							<th>Item</th>
							<th>Earning (Rs.)</th>
						</tr>
					</thead>

					<tbody id="tbl-data-body">
						
						<tr>
							<td hidden="true" colspan="2">
								<input id="txt_rfy" type="text" hidden="true" th:value="*{receivedfy}">
								<input id="txt_rmonth" type="text" hidden="true" th:value="*{receivedmonth}">
								<input id="txt_rperiod" type="text" hidden="true" th:value="*{receivedperiod}">
								<input id="txt_rremarks" type="text" hidden="true" th:value="*{remarks}">
							</td>
						</tr>
						<tr th:each="class, rowStat: ${classes}">
							<td th:text="${class.label}"
								th:classappend="${!class.saveable?'tot-design':'' }"></td>
							
							<!-- ✅ HIDDEN RECORD ID -->
							<td hidden="true"><input type="text" hidden="true" 
								th:field="*{details[__${rowStat.index}__].recordid}" th:readonly="true"> </td>
								
							<!-- ✅ HIDDEN CLASS CODE -->
							<td hidden="true"><input type="text" hidden="true" 
								th:field="*{details[__${rowStat.index}__].classcode}" th:readonly="true"></td>
								
							<!-- ✅ EARNING -->
							<td><input class="bot-cell-input calc" type="text"
								th:data-class="${class.code}"
								data-field = "earning"
								th:name="|details[__${rowStat.index}__].earning|"
	       						th:value="*{details[__${rowStat.index}__].earning == 0 ? '' : details[__${rowStat.index}__].earning}"
	       						oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/^0+/, '')"
								title="Only numbers allowed." th:readonly="${!class.saveable}" th:disabled="${!class.saveable}" onblur="recalcAll()"></td>
								
							
						</tr>
					</tbody>
				</table>
				<div style="display: flex; justify-content: center; margin-top: 20px;">
					<!-- <button type="button" onclick="submitClicked()">Submit</button> -->
					<button th:disabled="${submitbtn == 0}" class="action-btn-design" type="button" onclick="submitClicked()">Submit</button>

					<button class="action-btn-design" type="button" onclick="clearClicked()">Clear</button>

					<button class="action-btn-design" id="btn_approx_to_org" type="button"
					th:disabled="${togglebtn == 0}" onclick="toggleValueType()"
					th:text="*{valuetype == 'A'?'Approximate to Original':'Original to Approximate'}">
					</button>

					<button class="action-btn-design" id="btn_get_approx_data" type="button"
					th:disabled="${aprxbtn == 0}" onclick="getApproximateData()">Get
					Approximate Data</button>

					<button class="action-btn-design" id="btn_delete" type="button"
					th:disabled="${deletebtn == 0}" onclick="deleteData()">Delete
					</button>
				</div>
				
			<div th:if="${monthlyHeaderId != null} or ${iii_period_parentrecordid == null}"> 
				
				<p th:if="*{period != 'MON'} AND ${monthlyHeaderId != null}  " style="color: red; margin: 0px; padding: 0px;">Note: As Monthly data is already entered. So it is not allowed to feed period data. </p>
				<p th:if="*{period == 'MON'} AND (${iii_period_headerid != null} AND ${iii_period_parentrecordid == null})" style="color: red; margin: 0px; padding: 0px;">Note: As III period data is already entered. So it is not allowed to feed Monthly data. </p>

			</div>
				
		</fieldset>
		
		<script th:inline="javascript">
			(function () {
			    let headerId = /*[[${headerId}]]*/ null;
			    
			    const el = document.querySelector("input[name='recordid']");
		        if (el){
		        	console.log("Element found");
		        	el.value = headerId;
		        }
		        else{
		        	console.log("Element not found");
		        }			    
			    
			    console.log("headerId test = " +headerId);
			})();
		</script>
	</div>

	<!--SUNDRY EARNING FORM  -->
	<div id="SUN-DIV" th:fragment = "SUN-DIV(headerId)" th:object="${earningHeader}">
	
		<div th:if="${seg_msg}" id="flash-message" th:text="${seg_msg}"
			th:class="'flash-msg ' + (${seg_msgType} == 'success' ? 'flash-success' : 'flash-error')">
		</div>
		
		<fieldset name="sun-fieldset" id="sun-fieldset"
			style="padding: 0px; margin: 0px; border: none;" disabled="disabled">
				<table id="tbl-data" class="tableDesign">
					<thead id="tbl-data-head">
						<tr>
							<th>Item</th>
							<th>Earning (Rs.)</th>
						</tr>
					</thead>

					<tbody id="tbl-data-body">
					
						<tr>
							<td hidden="true" colspan="2">
								<input id="txt_rfy" type="text" hidden="true" th:value="*{receivedfy}">
								<input id="txt_rmonth" type="text" hidden="true" th:value="*{receivedmonth}">
								<input id="txt_rperiod" type="text" hidden="true" th:value="*{receivedperiod}">
								<input id="txt_rremarks" type="text" hidden="true" th:value="*{remarks}">
							</td>
						</tr>
						
						<tr th:each="class, rowStat: ${classes}">
							<td th:text="${class.label}"
								th:classappend="${!class.saveable?'tot-design':''}"></td>
								
							<!-- ✅ HIDDEN RECORD ID -->
							<td hidden="true"><input type="text" hidden="true" 
								th:field="*{details[__${rowStat.index}__].recordid}" th:readonly="true"> </td>
								
							<!-- ✅ HIDDEN CLASS CODE -->
							<td hidden="true"><input type="text" hidden="true" 
								th:field="*{details[__${rowStat.index}__].classcode}" th:readonly="true"></td>
								
							<!-- ✅ EARNING -->
							<td><input class="bot-cell-input calc" type="text"
								th:data-class="${class.code}"
								data-field = "earning"
								th:name="|details[__${rowStat.index}__].earning|"
	       						th:value="*{details[__${rowStat.index}__].earning == 0 ? '' : details[__${rowStat.index}__].earning}"
	       						oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/^0+/, '')"
								title="Only numbers allowed." th:readonly="${!class.saveable}" th:disabled="${!class.saveable}" onblur="recalcAll()"></td>
								
						</tr>
					</tbody>
				</table>
				<div style="display: flex; justify-content: center; margin-top: 20px;">
					<!-- <button type="button" onclick="submitClicked()">Submit</button> -->
					<button th:disabled="${submitbtn == 0}" class="action-btn-design" type="button" onclick="submitClicked()">Submit</button>
					
					<button class="action-btn-design" type="button" onclick="clearClicked()">Clear</button>
					
					<button class="action-btn-design" id="btn_approx_to_org" type="button"
					th:disabled="${togglebtn == 0}" onclick="toggleValueType()"
					th:text="*{valuetype == 'A'?'Approximate to Original':'Original to Approximate'}">
					</button>

					<button class="action-btn-design" id="btn_get_approx_data" type="button"
					th:disabled="${aprxbtn == 0}" onclick="getApproximateData()">Get
					Approximate Data</button>

					<button class="action-btn-design" id="btn_delete" type="button"
					th:disabled="${deletebtn == 0}" onclick="deleteData()">Delete
					</button>
				</div>
			<div th:if="${monthlyHeaderId != null} or ${iii_period_parentrecordid == null}"> 
				
				<p th:if="*{period != 'MON'} AND ${monthlyHeaderId != null}  " style="color: red; margin: 0px; padding: 0px;">Note: As Monthly data is already entered. So it is not allowed to feed period data. </p>
				<p th:if="*{period == 'MON'} AND (${iii_period_headerid != null} AND ${iii_period_parentrecordid == null})" style="color: red; margin: 0px; padding: 0px;">Note: As III period data is already entered. So it is not allowed to feed Monthly data. </p>

			</div>
		</fieldset>
			
		<script th:inline="javascript">
			(function () {
			    let headerId = /*[[${headerId}]]*/ null;
			    
			    const el = document.querySelector("input[name='recordid']");
		        if (el){
		        	console.log("Element found");
		        	el.value = headerId;
		        }
		        else{
		        	console.log("Element not found");
		        }			    
			    
			    console.log("headerId test = " +headerId);
			})();
		</script>
		
	</div>
	
	
	<!--OTHER COACHING EARNING FORM  -->
	<div id="OTHC-DIV" th:fragment = "OTHC-DIV(headerId)" th:object="${earningHeader}">
		
		<div th:if="${seg_msg}" id="flash-message" th:text="${seg_msg}"
			th:class="'flash-msg ' + (${seg_msgType} == 'success' ? 'flash-success' : 'flash-error')">
		</div>
		<fieldset name="othc-fieldset" id="othc-fieldset"
			style="padding: 0px; margin: 0px; border: none;" disabled="disabled">
				<table id="tbl-data" class="tableDesign">
					<thead id="tbl-data-head">
						<tr>
							<th>Item</th>
							<th>Weight (Qty/Unit)</th>
							<th>Earning (Rs.)</th>
						</tr>
					</thead>

					<tbody id="tbl-data-body">
						
						<tr>
							<td hidden="true" colspan="3">
								<input id="txt_rfy" type="text" hidden="true" th:value="*{receivedfy}">
								<input id="txt_rmonth" type="text" hidden="true" th:value="*{receivedmonth}">
								<input id="txt_rperiod" type="text" hidden="true" th:value="*{receivedperiod}">
								<input id="txt_rremarks" type="text" hidden="true" th:value="*{remarks}">
							</td>
						</tr>
					
						<tr th:each="class, rowStat: ${classes}">
							<td th:text="${class.label}"
								th:classappend="${!class.saveable?'tot-design':''}"></td>
								
							<!-- ✅ HIDDEN RECORD ID -->
							<td hidden="true"><input type="text" hidden="true" 
								th:field="*{details[__${rowStat.index}__].recordid}" th:readonly="true"> </td>
								
							<!-- ✅ HIDDEN CLASS CODE -->
							<td hidden="true"><input type="text" hidden="true" 
								th:field="*{details[__${rowStat.index}__].classcode}" th:readonly="true"></td>
								
							<!-- ✅ WEIGHT -->
							<td><input class="bot-cell-input calc" type="text"
								th:data-class="${class.code}"
								data-field = "weight"
								th:name="|details[__${rowStat.index}__].weight|"
	       						th:value="*{details[__${rowStat.index}__].weight == 0 ? '' : details[__${rowStat.index}__].weight}"
	       						oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/^0+/, '')"
								title="Only numbers allowed." th:readonly="${!class.saveable}" th:disabled="${!class.saveable}" onblur="recalcAll()"></td>
								
							
							<!-- ✅ EARNING -->
							<td><input class="bot-cell-input calc" type="text"
								th:data-class="${class.code}"
								data-field = "earning"
								th:name="|details[__${rowStat.index}__].earning|"
	       						th:value="*{details[__${rowStat.index}__].earning == 0 ? '' : details[__${rowStat.index}__].earning}"
	       						oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/^0+/, '')"
								title="Only numbers allowed." th:readonly="${!class.saveable}" th:disabled="${!class.saveable}" onblur="recalcAll()"></td>
									
							
						</tr>
					</tbody>
				</table>
				
				<div style="display: flex; justify-content: center; margin-top: 20px;">
					<!-- <button type="button" onclick="submitClicked()">Submit</button> -->
					<button th:disabled="${submitbtn == 0}" class="action-btn-design" type="button" onclick="submitClicked()">Submit</button>
					<button class="action-btn-design" type="button" onclick="clearClicked()">Clear</button>
									
					<button class="action-btn-design" id="btn_approx_to_org" type="button"
					th:disabled="${togglebtn == 0}" onclick="toggleValueType()"
					th:text="*{valuetype == 'A'?'Approximate to Original':'Original to Approximate'}">
					</button>

					<button class="action-btn-design" id="btn_get_approx_data" type="button"
					th:disabled="${aprxbtn == 0}" onclick="getApproximateData()">Get
					Approximate Data</button>

					<button class="action-btn-design" id="btn_delete" type="button"
					th:disabled="${deletebtn == 0}" onclick="deleteData()">Delete
					</button>
				</div>
			<div th:if="${monthlyHeaderId != null} or ${iii_period_parentrecordid == null}"> 
				
				<p th:if="*{period != 'MON'} AND ${monthlyHeaderId != null}  " style="color: red; margin: 0px; padding: 0px;">Note: As Monthly data is already entered. So it is not allowed to feed period data. </p>
				<p th:if="*{period == 'MON'} AND (${iii_period_headerid != null} AND ${iii_period_parentrecordid == null})" style="color: red; margin: 0px; padding: 0px;">Note: As III period data is already entered. So it is not allowed to feed Monthly data. </p>

			</div>
			
		</fieldset>
		
		<script th:inline="javascript">
			(function () {
			    let headerId = /*[[${headerId}]]*/ null;
			    
			    const el = document.querySelector("input[name='recordid']");
		        if (el){
		        	console.log("Element found");
		        	el.value = headerId;
		        }
		        else{
		        	console.log("Element not found");
		        }			    
			    
			    console.log("headerId test = " +headerId);
			})();
		</script>
		
	</div>

</body>
</html>