<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Header and Footer</title>
<link rel="stylesheet" th:href="@{/css/headerfooter.css}">
</head>
<body>

	
<div id="div_header" th:fragment="custom_header">
	<header class="nav" >
	<nav>
		<div class="nav-top">
			<div id="div-left">
				<img alt="" th:src="@{/images/IRLogo3.png}" >
				<span>ST-5 Portal</span>
			</div>
			<div id="div-middle">
				<p id="title-1">East Coast Railway</p>
				<p id="title-2">Bhubaneswar</p>
			</div>
			<div id="div-right">
				<div class="profile-container">
		            <!-- Profile Icon -->
		            <img th:src="@{/images/profile_icon_2.png}" alt="Profile" class="profile-icon" id="profileIcon">
		
		            <!-- Profile Dropdown -->
		            <div class="profile-menu" id="profileMenu">
		                <div class="menu-arrow"></div>
		                <div class="menu-header">
		                    <img th:src="@{/images/profile_icon_2.png}" alt="Profile" class="menu-avatar">
		                    <div class="menu-user-info">
		                        <div class="user-name">John Doe</div>
		                        <div class="user-email">john.doe@example.com</div>
		                    </div>
		                </div>
		                <hr>
		                <ul>
		                    <li><a href="#">Edit Profile</a></li>
		                    <li><a href="#">Change Password</a></li>
		                    <li><a href="logout" class="logout" style="color: #d9534f;">Logout</a></li>
		                </ul>
		            </div>
        		</div>
			</div>
			
		</div>
		<div class="nav-inner">						
			<ul class="menu">
				<!-- <li><a class="active" href="#home">Home</a> -->
				<li><a href="/dashboard">Home</a></li>
				<li><a href="#">ST-5 Compilation</a>
					<ul class="submenu">
						<!-- <li><a href="/originating_period">Originating Periodic Earning</a></li> -->
						<li><a href="/earning/earning_detail">Originating Periodic Earning</a></li>
						<li><a href="/budget/budget_detail">ST-5 Annual Budget</a></li>
					</ul>
				</li>
				<li><a href="#">Reports &amp; Statements</a>
					<ul class="submenu">
						<li class="has-submenu"><a>ST-5 Statement</a>
							<ul class="submenu">
								<li><a href="/reports/passenger">Division Wise Originating No &amp; Earnings</a></li>
								<li><a href="/reports/orgg_othg_report">Division Wise Originating Goods &amp; Other Goods Earnings</a></li>
								<li><a href="/reports/10_days_advance_report">10 Days Advance Statement of Gross Earning &amp; Traffic Handled</a></li>
								<li><a href="#">Statement of Approximate Gross Earnings And Traffic Handled</a></li>
								
								<li><a href="#">Telegraphic Report of Advance Gross Earning</a></li>
								<li><a href="#">Telegraphic Report of Advance Gross Earning (Excluding PRS) </a></li>
								<li><a href="#">Telegraphic Report of Parcel &amp; Luggage Traffic</a></li>
								<li><a href="#">Annexure For Goods Earnings</a></li>
								<li><a href="#">Division Wise Passenger No Graph</a></li>
								<li><a href="#">Periodic Position of Other Coaching Earnings (Division Wise)</a></li>
								<li><a href="#">Periodic Position of Other Coaching Earnings (Zonal)</a></li>
								<li><a href="#">Telegraphic Report Of Advance Gross Earning -1 </a></li>
								<li><a href="#">Telegraphic Report Of Advance Gross Earning (Excluding PRS) -1 </a></li>
								<li><a href="#">Telegraphic Report Of Parcel &amp; Luggage Traffic -1</a></li>
								
							</ul>
						</li>
						<li><a href="#">Station-Wise Monthly Statement</a></li>
						<li class="has-submenu"><a href="#">Monthly Statement</a>
							<ul class="submenu">
								<li><a href="#">Monthly Evaluation Report</a></li>
								<li><a href="#">Monthly Evaluation Report1</a></li>
								<li><a href="#">Monthly Position of Other Coaching Earnings (Division Wise)</a></li>
								<li><a href="#">Monthly Position of Other Coaching Earnings (Zonal)</a></li>
							</ul>
							
						</li>
						<li  class="has-submenu"><a>Passenger</a>
							<ul class="submenu">
								<li><a href="#">Statement on Passenger Earnings (Periodic)</a></li>
								<li><a href="#">Statement on Passenger No (Periodic)</a></li>
								<li><a href="#">Statement on Passenger Earnings (Monthly)</a></li>
								<li><a href="#">Statement on Passenger No (Monthly)</a></li>
								<li><a href="#">Statement on Approximate/Actual Passenger Earnings (Monthly)</a></li>
								<li><a href="#">Statement on Approximate/Actual Passenger NOS (Monthly)</a></li>
							</ul>
						
						</li>
						<li class="has-submenu"><a href="#">Other Couching</a>
							<ul class="submenu">
								<li><a href="#">Statement on Other Coaching Earnings (Periodic)</a></li>
								<li><a href="#">Statement on Other Coaching Earnings (Monthly)</a></li>
								<li><a href="#">Statement on Approximate/Actual Other Coaching Earnings (Monthly)</a></li>								
							</ul>
						</li>
						<li><a href="#">Originating Goods</a></li>
						<li><a href="#">Other Goods</a></li>
						<li><a href="#">Sundry</a></li>
						<li  class="has-submenu"><a href="#">Data Availability Analysis</a>
							<ul class="submenu">
								<li><a href="#">Non Receipt Station List (Period Wise)</a></li>
								<li><a href="#">Late Receipt Station List (Period Wise) </a></li>															
							</ul>
						</li>
					</ul>
				</li>
				<li ><a href="#">Master Data Definition</a>
					<ul class="submenu">
						<li class="has-submenu"><a href="#">Originating Source</a>
							<ul class="submenu">
								<li><a href="#">Division Master</a></li>
								<li><a href="#">Station Master</a></li>
								<li><a href="#">Other Source Master</a></li>															
							</ul>
						</li>
						<li><a href="#">Earning Statement Capture Strategy</a></li>
						<li><a href="#">Item Master</a></li>
						<li><a href="#">Adjustment Remarks</a></li>
						<li><a href="/signatory_detail">Default Value Setup</a></li>
					</ul>
				</li>
				<li><a href="#about">Utilities</a>
					<ul class="submenu">
						<li><a href="#">User authentication and Job Mapping</a></li>
						<li><a href="#">Data Base Management</a></li>
					</ul>
				</li>
				<li><a href="#contact">Help</a>
					<ul class="submenu">
						<li><a href="#">Assistance</a></li>
						<li><a href="#">About Statistics</a></li>
					</ul></li>
			</ul>
		</div>
	</nav>
</header>
</div>


<div id="div_footer" th:fragment="custom_footer">

	<footer class="footer">
 	&#169; 2025 IT CENTRE (HQ). All rights reserved.
	</footer>
		
</div>

<div id="div_error" th:fragment="ERROR-DIV">
	<table id="tbl-data" class="tableDesign">
		<tbody id="tbl-data-body">
			<tr> <td style="text-align: center;">Some error occurred.</td> </tr> 
		</tbody>
	</table>						
</div>




</body>

<script>
    const profileIcon = document.getElementById('profileIcon');
    const profileMenu = document.getElementById('profileMenu');

    profileIcon.addEventListener('click', (e) => {
        e.stopPropagation();
        profileMenu.style.display = profileMenu.style.display === 'block' ? 'none' : 'block';
    });

    // Hide when clicking outside
    document.addEventListener('click', (e) => {
        if (!profileMenu.contains(e.target) && !profileIcon.contains(e.target)) {
            profileMenu.style.display = 'none';
        }
    });
</script>


</html>