<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ST-5 Annual Budget</title>
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>
<script th:src="@{/js/st5_annual_budget.js}"></script>
<link rel="stylesheet" th:href="@{/css/headerfooter.css}">
<link rel="stylesheet" th:href="@{/css/st5_annual_budget.css}">
</head>
<body>

	<!-- Header Section  -->
	<div th:replace="~{fragments/header_footer :: custom_header}"> </div>
	
	 <main class="page">
	 
	 	<div id="div_main_content">
			<div id="div_topform">
				<h3 style="text-align: center;text-decoration: underline; padding: 0px;margin: 0px;">ST-5 ANNUAL BUDGET</h3>
			
			<fieldset name="top-fieldset" id="top-fieldset" style="padding: 0px;margin: 0px; border: none;" >
				<form id="top-form" name="top-form" action="">
				<table>
					<tr>
						<td>
							<label for="txt-financial-year-1" >Financial year:</label>
							<input type="text" id="txt-financial-year-1" placeholder="YYYY" maxlength="4" pattern="\d{4}" 
							title="Please enter exactly 4 digits" oninput="this.value = this.value.replace(/[^0-9]/g, '')" style="width: 80px;" onblur="checkValue(this)"  required >
							
						</td>
						
						<td>
							<label for="txt-financial-year-2" ></label>							
							<input type="text" id="txt-financial-year-2"  placeholder="YY" maxlength="2" pattern="\d{2}" 
							title="Please enter exactly 2 digits" oninput="this.value = this.value.replace(/[^0-9]/g, '')" style="width: 30px;" disabled="disabled" required >
						</td>
						<td>
							<label for="budget-no" >Budget No:</label>
							<select id="budget-no" name="budget-no" onchange="budgetNoChanged(this)" disabled>
							  <option value="-1">-- Select --</option>		
							 <!--  <option value="1">1</option>
							  <option value="2">2</option>	 -->						  				  
							</select>
						</td>
						<td>
							<label for="for-month">For Month:</label>
							<select id="for-month" name="for-month" onchange="monthChanged(this)" disabled>
							  <option value="-1">-- Select --</option>		
							  <option value="04">Apr</option>
							  <option value="05">May</option>							  
							  <option value="06">June</option>
							  <option value="07">July</option>							  
							  <option value="08">Aug</option>
							  <option value="09">Sep</option>
							  <option value="10">Oct</option>
							  <option value="11">Nov</option>
							  <option value="12">Dec</option>
							  <option value="01">Jan</option>
							  <option value="02">Feb</option>
							  <option value="03">Mar</option>
							</select>
						</td>
						<td>
							<label for="division">Division:</label>
							<select id="division" name="division" disabled>
							  <option value="-1">-- Select --</option>		
							  <option value="1">KUR</option>
							  <option value="2">SBP</option>							  
							  <option value="3">WAT</option>
							</select>
						</td>
						<td>
							<button id="btn_budget_dtl" type="button" onclick="showBudgetDetailClicked(this)" >Show Budget Details</button>						 							  
						</td>
					 </tr>
				</table>	
				</form>
			</fieldset>
				<hr>
			</div>
			
			<div id="div_budget">
			
			<div style="display: flex;justify-content: space-between;">
				<span id="status_span"></span>
				<span style="margin: 0px;padding: 0px;text-align: right;">(Units: in Millions, Amount: in Crs)</span>					 
			</div>
			
			<form action="#" id="bottom-form" name="bottom-form">				
			 
			  <fieldset id="formFields" style="padding: 0px;margin: 0px; border: none;" disabled="disabled">
				<table id="tbl_budget" class="tableDesign">
					
				<thead id = "tbl_budget_head">								
					<tr>							
							<th colspan="2">Head</th>
							<th>Apr</th>
							<th>May</th>
							<th>Jun</th>
							<th>Jul</th>
							<th>Aug</th>
							<th>Sep</th>
							<th>Oct</th>
							<th>Nov</th>
							<th>Dec</th>
							<th>Jan</th>
							<th>Feb</th>
							<th>Mar</th>
							<th>Total</th>
						</tr>
				</thead>
				
				<tbody id="tbl_budget_body"  th:each="name : ${names}">	
										
					
					<tr th:if="${name != 'PASSENGER Units'}" th:each="i : ${#numbers.sequence(1, 2)}">						  						
  						
  						<td th:if="${i == 1}" th:rowspan="2" th:text="${name}" class="fit-content"></td>						
        				<td th:text="${i == 1 ? 'Units' : 'Amount'}" class="fit-content"></td>        				
        				<td th:each="col : ${#numbers.sequence(1, 13)}" class="expand">
        				<!-- 	<input type="text" th:value="'input_' + ${name} + '_' + ${i} + '_' + ${col}"> -->
            				<input type="text" th:name="'input_' + ${name} + '_' + ${i} + '_' + ${col}" placeholder="" class="cell-input" 
            				 pattern="-?\d*(\.\d+)?" title="Only numbers allowed." onblur="captureFormValue(this)" oninput="this.value = this.value.replace(/[^0-9.\-]/g, '')
            				 .replace(/(?!^)-/g, '') 
            				 .replace(/(\..*)\./g, '$1')
            				  .replace(/^(-?\d+(\.\d{0,2})?).*/, '$1') " 
            				  th:readonly="${col == 13 || name == 'TOTAL EARNING'}" />   
            				  
        				</td>
					</tr>
					
					<tr th:if="${name == 'PASSENGER Units'}">
						<td colspan="2" class="fit-content">PASSENGER Units</td>
						<td th:each="col : ${#numbers.sequence(1, 13)}" class="expand">
							<!-- <input type="text" th:value="'input_' + ${name} + '_' + ${col}"> -->
            				<input type="text" th:name="'input_' + ${name} + '_' + ${col}" placeholder="" class="cell-input" 
            				 pattern="-?\d*(\.\d+)?" title="Only numbers allowed." onblur="captureFormValue(this)"  oninput="this.value = this.value.replace(/[^0-9.\-]/g, '')
            				 .replace(/(?!^)-/g, '') 
            				 .replace(/(\..*)\./g, '$1') 
            				  .replace(/^(-?\d+(\.\d{0,2})?).*/, '$1')" 
            				  th:readonly="${col == 13}" />     
        				</td>
					</tr>
				
				</tbody>
				
				<tfoot id="tbl_budget_footer"></tfoot>
				</table>								
				
				<div style="display: flex; justify-content: center; margin-top: 20px;" >
				    <button type="button" onclick="submitClicked()" >Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				    <button type="button" onclick="clearClicked()" >Clear</button>
				</div>
				
				</fieldset>
			</form>		
			
			
		</div>
		
		
		
		</div>	
	 </main>
</body>

<!-- <script>
$('#top-fieldset').on('change input', 'input, select', function() {
	
	console.log('Value changed in:');

	if(!isBottomFormdisabled){
		
		console.log('Form reset');
		isBottomFormdisabled = !isBottomFormdisabled;
		resetBottomForm();
		$("#formFields").prop("disabled",false);	
	}
		
    
});


</script>
 -->

</html>